.code_resent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 24px 46px;
  color: var(--color-white);
  text-align: center;
  line-height: 150%;
  font-size: 20px;
  animation: 0.3s ease-out 0s slideInTop;
}

@keyframes slideInTop {
  0% {
    transform: translate(-50%, -70%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 540px) {
  .code_resent {
    padding: 20px 35px;
    font-size: 18px;
    min-width: 200px;
  }
}
