.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--color-purple);
}

.content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 80px 80px 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 1280px){
    padding: 80px 80px 80px 100px;
  }

  @media (max-width: 1024px){
    padding: 50px 60px 70px;
  }

  @media (max-width: 768px) {
    padding: 30px 20px 50px;
  }
}

.copyright{
  width: 100%;
  font-family: Larsseit;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-top: 28px;
  color: var(--color-white);

  @media (max-width: 1024px){
    margin-top: 50px;
    text-align: center;
  }

  @media (max-width: 768px){
    font-size: 14px;
  }
}

.logo{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 1280px){
    img{
      width: 200px;
      height: auto;
    }
  }

  @media (max-width: 1024px){
    order: -1;
  }

  @media (max-width: 768px){
    img {
      width: 131px;
      height: auto;
    }
  }

  @media (max-width: 360px){
    img {
      width: 110px;
      height: auto;
    }
  }
}

.download{
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 1280px){
    img{
      width: 180px;
      height: auto;
    }
  }

  @media (max-width: 1024px){
    order: -1;
  }

  @media (max-width: 768px){
    img {
      width: 174px;
      height: auto;
    }
  }

  @media (max-width: 360px){
    img {
      width: 134px;
      height: auto;
    }
  }
}

.menu{
  display: flex;

  @media (max-width: 1024px){
    margin-top: 50px;
    width: 100%;
  }
}

.column{
  display: flex;
  flex-direction: column;
  &:not(:last-child){
    margin-right: 60px;
  }

  @media (max-width: 768px){
    &:not(:last-child){
      margin-right: 40px;
    }
  }
}

.columnTitle{
  font-family: Larsseit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 8px;

  @media (max-width: 768px){
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.link{
  font-family: Larsseit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--color-white);

  &:not(:last-child){
    margin-bottom: 5px;
  }

  @media (max-width: 768px){
    font-size: 16px;
    margin-bottom: 5px;
  }
}
